* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

form {
    background: #fff; padding: 3px; position: fixed; bottom: 0; width: 100%; border-color: #000; border-top-style: solid; border-top-width: 1px;
}

form button {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
#messages {
    list-style-type: none; margin: 0; padding: 0;
}
#messages li {
    padding: 5px 10px;
}
#messages li:nth-child(odd) {
    background: #eee;
}